.app {
}

.header {
  font-size: 1rem;
  width:100%;
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightgray;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.user-menu {
  display: flex;
  justify-content: space-around;
  padding-right: 2rem;
  width: 13rem;
}

.content {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

img{
  border-style: none;
  height: auto;
}

.avatar-small{
  height: 2rem;
}

.dashboard{
  width:60%;
}
.question-list{
    border: 1px solid gray;
    padding: 1rem;
    margin-top: 1rem;
}
.question-list-items{
  display: flex;
  justify-content: space-between;
  
}
.question-item{
  padding: 1rem;
  border: 1px solid red;
  width: 15rem;
}
.question-button{
  font-size:1rem;
  width:100%;
  padding:.5rem;
}
.question-button:hover{
  cursor: pointer;
}